body {
    background-color: dimgray;
}


h1 {
    text-align: center;
}

a:any-link {
    text-decoration: none;
    color: cornflowerblue;
}

.links-container {
    text-align: center;
}

.category-container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-column-gap: 10px;
    justify-content: center;
    align-items: center;
    /*    background-color: rgb(128, 128, 128);
*/ text-align: center;
    height: 300px;
    background-image: url(../Images/controller-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 16px;
}

.single-category {
    margin: 6px;
    background-color: #92b3ee;
    height: 50px;
    opacity: 0.5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
