* {
    font-family: 'Architects Daughter', cursive;
}

body {
    background-color: dimgray;
}


h1 {
    text-align: center;
    text-decoration: underline;
}

.para-index-container {
    display: grid;
    grid-template-columns: 400px;
    text-align: center;
    width: 500px;
    justify-content: space-around;
    background-color: #92b3ee;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a:any-link {
    text-decoration: none;
    color: black;
}

.links-container {
    text-align: center;
    margin: 16px;
}

.category-container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-column-gap: 10px;
    justify-content: center;
    align-items: center;
    /*    background-color: rgb(128, 128, 128);
*/ text-align: center;
    height: 300px;
    background: url(../Images/controller-image.jpg) no-repeat center;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 16px;
}

.single-category {
    margin: 6px;
    background-color: #92b3ee;
    height: 50px;
    opacity: 0.5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}