@model blog_template_practice.Models.Category

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Style/StyleSheet.css" />
    <title>Blogger Gamer's Paradise</title>
</head>
<body>
    <h1 class="details-heading">Blogs for @Model.Name</h1>

    <div class="category-details-container">
        @foreach (var content in Model.Contents)
        {
            <div class="single-category-details-container">
                <p><a href="/Content/Details/@content.Id">@content.Title</a></p>
                <p>Author: @content.Author</p>
            </div>
        }
    </div>

    <div class="links-container">
        <div class="button">
            <a href="/Content/CreateByCategoryId/@Model.Id">Create a Blog</a>
        </div>
        <div class="button">
            <a href="/Category/Index">Return to Category List</a>
        </div>
    </div>


</body>
</html>