@model blog_template_practice.Models.Category

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Style/StyleSheet.css" />
    <title>Details</title>
</head>
<body>
    <h1>Blogs for @Model.Name</h1>
    <hr />

    <h2>Blogs</h2>

    @foreach (var content in Model.Contents)
    {
        <p>Title: <a href="/Content/Details/@content.Id">@content.Title</a></p>
        <p>Author: @content.Author</p>
        
        <hr />
    }

    <a href="/Content/CreateByCategoryId/@Model.Id">Create a Blog</a>

    <a href="/Category/Index">Return to Category List</a>


</body>
</html>