@model IEnumerable<blog_template_practice.Models.Category>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Style/StyleSheet.css" />
    <title>Index</title>
</head>
<body>
    <h1>Category List</h1>
    <div class="category-container">
        @foreach (var category in Model)
        {
            <div class="single-category">
                <p>Category: <a href="/Category/Details/@category.Id">@category.Name</a></p>
            </div>
        }
    </div>

    <a href="/Content/Index/">See all blogs</a>


</body>

</html>